<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shaiya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shaiya.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shaiya</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shaiya</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShaiyaContext" Order="1" Enabled="False">
          <Destination Path="Data Source=your_server.com;Initial Catalog=PS_UserData;User ID=Shaiya;Password=your_password" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShaiyaWebsite.Models.ShaiyaContext, ShaiyaWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ShaiyaWebsiteContext" Order="2" Enabled="True">
          <Destination Path="Data Source=your_server.com;Initial Catalog=ShaiyaWebsite;User ID=Shaiya;Password=your_password" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShaiyaWebsite.Contexts.ShaiyaWebsiteContext, ShaiyaWebsite" MigrationConfiguration="ShaiyaWebsite.Migrations.Configuration, ShaiyaWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShaiyaContext-Web.config Connection String">
      <ParameterValue>Data Source=your_server.com;Initial Catalog=PS_UserData;User ID=Shaiya;Password=your_password</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShaiyaWebsiteContext-Web.config Connection String">
      <ParameterValue>Data Source=your_server.com;Initial Catalog=ShaiyaWebsite;User ID=Shaiya;Password=your_password</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>